on:
  workflow_call:
    inputs:
      package-name:
        required: true
        type: string
      package-index-name:
        default: PyPI
        type: string
      package-index-url:
        default: https://pypi.org
        type: string
      package-index-upload-url:
        default: https://upload.pypi.org/legacy/
        type: string
      build-native-wheels:
        default: false
        type: boolean
    secrets:
      password:
        description: PyPI API token

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
          cache: pip

      - name: Install build tool
        run: pip install build

      - name: Build ${{ inputs.package-name }}
        run: python -m build

      - name: Upload ${{ inputs.package-name }} package
        uses: actions/upload-artifact@v6
        with:
          name: ${{ inputs.package-name }}
          path: ./dist/

  test:
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
        experimental: [false]
        include:
          - python-version: "3.x"
            experimental: true
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Download ${{ inputs.package-name }} package
        uses: actions/download-artifact@v6
        with:
          name: ${{ inputs.package-name }}
          path: ./dist/

      - name: Install ${{ inputs.package-name }}
        run: pip install ./dist/*.whl

      - name: Install test runner
        run: pip install pytest pytest-cov

      - name: Run unit tests
        run: pytest --cov=${{ inputs.package-name }}

  build-wheels:
    if: ${{ inputs.build-native-wheels }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2022, macos-11]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up QEMU
        if: ${{ runner.os == 'Linux' }}
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Build ${{ inputs.package-name }} wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_ARCHS_LINUX: "auto aarch64 ppc64le s390x"
          CIBW_ARCHS_MACOS: "x86_64 arm64"
          CIBW_BUILD: "cp310-*"
          CIBW_TEST_EXTRAS: tests
          CIBW_TEST_COMMAND: "pytest {project}/tests"

      - name: Upload ${{ inputs.package-name }} wheels
        uses: actions/upload-artifact@v6
        with:
          name: ${{ inputs.package-name }}
          path: ./wheelhouse/*.whl

  publish:
    if: ${{ inputs.package-index-url != '' }}
    runs-on: ubuntu-latest
    needs: test
    environment:
      name: ${{ inputs.package-index-name }}
      url: ${{ inputs.package-index-url }}/project/${{ inputs.package-name }}/
    permissions:
      id-token: write
    steps:
      - name: Download ${{ inputs.package-name }} wheels
        uses: actions/download-artifact@v6
        with:
          name: ${{ inputs.package-name }}
          path: ./dist/

      - name: Publish ${{ inputs.package-name }} to ${{ inputs.package-index-name }}
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: ${{ inputs.package-index-upload-url }} 
          password: ${{ secrets.password }}
